<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Backwood Burgers Management | Current Employees</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="container">
        <h2>Current Employees</h2>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-error">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if employees %}
            <table class="tabTable table table-striped">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td>{{ employee.employeeID }}</td>
                            <td>{{ employee.name }}</td>
                            <td>
                                <form action="{{ url_for('views.fireEmployee', row_id=employee.employeeID) }}" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm">FIRE!</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ url_for('views.newEmployee') }}" method="POST" class="form-container">
                <label for="employee">Employee Name:</label>
                <input name="employee" type="text" id="employee" required>
                <button type="submit">Hire New Employee</button>
            </form>
        {% else %}
            <p>No employees currently available</p>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>