<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Backwoods Burgers Management | Home</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <h2>Welcome to Backwoods Burgers Management</h2>
        <p>This system is intended to aid in daily operations for Backwoods Burgers.</p>
    {% endblock %}
</body>
</html>