<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Backwood Burgers Management | Current Tables</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <h2>Current Tables</h2>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-error">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if tables %}
            <table class="tabTable table table-striped">
                <thead>
                    <tr>
                       <th>Table ID</th>
                        <th>Seating Capacity</th>
                        <th>Status (linked to parties)</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for table in tables %}
                        <tr>
                            {% for value in table.values() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        
                            <td>
                                <form action="{{ url_for('views.deleteTable', table_id=table.tableID) }}" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No tables currently available</p>
        {% endif %}
        <form action="{{ url_for('views.newTable') }}" method="POST" class="form-container">
            <label for="table">Seating Capacity:</label>
            <input name="table" type="text" id="table" required>
            <button type="submit">Add New Table</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>