<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Backwood Burgers Management | Current Tabs</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <h2>Current Tabs</h2>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-error">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- Form to open a new tab -->
        
        {% if tabs %}
            <table class="tabTable table table-striped">
                <thead>
                    <tr>
                        {% for key in tabs[0].keys() %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for tab in tabs %}
                        <tr>
                            {% for value in tab.values() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No tabs currently available</p>
        {% endif %}
        <h3>Open New Tab</h3>
        <form action="{{ url_for('views.newTab') }}" method="POST" class="form-container">
            <div class="mb-3">
                <label for="total" class="form-label">Total</label>
                <input type="number" step="0.01" name="total" id="total" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="tableID" class="form-label">Table</label>
                <select name="tableID" id="tableID" class="form-select" required>
                    {% for table in tables %}
                        
                            <option value="{{ table.tableID }}">Table {{ table.tableID }}</option>
        
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Open New Tab</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>